.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.git-link {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon-git {
  width: 60px;
  transition: all .3s ease-in-out;
}

.icon-git:hover {
  transform: rotate(360deg) scale(1.2);
}