.result {
    display: flex;
    height: 230px;
    padding: 10px;
}

.resultDescription {
    background-color: #defcf9;
    border-radius: 10px;
    color: black;
    width: 50%;
    height: 200px;
    padding: 15px;
    margin: 5px;
    overflow-y: auto;
}

.resultImage {
    margin: 5px;
    width: 50%;
    height: 200px;
}

.mediaImage {
    height: 200px;
    width: 100%;
    pointer-events: none;
    border-radius: 10px;
    padding: 5px;
    background: #defcf9;
}