.resultDescription {
    background-color: #FFF;
    width: 50%;
    height: 200px;
    padding: 10px;
    border: 2px solid #91A0B5;
    overflow-y: auto;
}

.resultImage {
    margin-right: 10px;
    width: 50%;
}

.mediaImage {
    height: 200px;
    width: 100%;
    pointer-events: none;
}