.dropzone {
    min-height: 200px;
    width: 700px;
    padding: 20px;
    color: #494949;
    border: 3px dashed #494949;
    border-radius: 15px;
    text-align: left;
    cursor: pointer;
    max-height: 80vh;
    overflow: scroll;
    transition: all 0.3s ease;
}

.dropzone:hover {
    color: black;
    border: 3px dashed black;
    transition: all 0.3s ease;
}

.dropzone-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropzone-content>div {
    min-width: 60%;
}

.fileinput {
    display: none;
}

.drop-logo {
    height: 150px;
}