.scanner {
  width: 100%;
  height: 5px;
  background: rgba(239, 120, 3, 1);
  border-radius: 10px;
  position: absolute;
  animation: scanner 4s infinite linear;
}

.scanner div {
  position: absolute;
  right: 0px;
  bottom: 5px;
  animation: flash 4s infinite linear;
}

.scanner div:before {
  content: "\2022";
  color: rgba(239, 120, 3, 1);
  position: absolute;
  bottom: -7px;
  right: -6px;
}

.scanner div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.scanner div ul li:first-child {
  width: 6px;
  height: 15px;
  background: rgba(239, 120, 3, 1);
  border-radius: 10px;
  position: absolute;
  bottom: 7px;
  right: -5px;
}

.scanner div ul li:nth-child(2) {
  width: 6px;
  height: 15px;
  background: rgba(239, 120, 3, 1);
  border-radius: 10px;
  position: absolute;
  bottom: -18px;
  right: -5px;
}

.scanner div ul li:nth-child(3) {
  width: 15px;
  height: 6px;
  background: rgba(239, 120, 3, 1);
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  right: -25px;
}

.scanner div ul li:last-child {
  width: 15px;
  height: 6px;
  background: rgba(239, 120, 3, 1);
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  right: 2px;
}

@keyframes scanner {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes flash {
  0% {
    -webkit-transform: rotate(90deg);
    right: 0%;
  }
  1% {
    -webkit-transform: rotate(45deg);
  }
  10% {
    -webkit-transform: rotate(45deg);
  }
  11% {
    -webkit-transform: rotate(90deg);
  }
  20% {
    -webkit-transform: rotate(90deg);
  }
  21% {
    -webkit-transform: rotate(45deg);
  }
  30% {
    -webkit-transform: rotate(45deg);
  }
  31% {
    -webkit-transform: rotate(90deg);
  }
  40% {
    -webkit-transform: rotate(90deg);
  }
  41% {
    -webkit-transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
    right: 100%;
  }
  51% {
    -webkit-transform: rotate(90deg);
  }
  60% {
    -webkit-transform: rotate(90deg);
  }
  61% {
    -webkit-transform: rotate(45deg);
  }
  70% {
    -webkit-transform: rotate(45deg);
  }
  71% {
    -webkit-transform: rotate(90deg);
  }
  80% {
    -webkit-transform: rotate(90deg);
  }
  81% {
    -webkit-transform: rotate(45deg);
  }
  90% {
    -webkit-transform: rotate(45deg);
  }
  91% {
    -webkit-transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    right: 0%;
  }
}
