.viewContent {
  position: relative;
}

.result {
  position: absolute;
  background: #dbff33;
  opacity: 70%;
  color: black;
  padding: 10px;
}

.result div:first-child {
  text-transform: capitalize;
  font-weight: 500;
}

.result div:last-child {
  font-size: 16px;
}

.resultImage {
  margin-right: 10px;
  width: 100%;
}

.mediaImage {
  height: 100%;
  width: 100%;
  pointer-events: none;
}
